<div id="container">

  <!-- Start	Product details -->
    <div class="product-details">

      <!-- 	Product Name -->
    <h1 class="Cardio" >Cardio</h1>
    <b></b>
  <!-- 		<span class="hint new">New</span> -->
  <!-- 		<span class="hint free-shipping">Free Shipping</span> -->
  <!-- 		the Product rating -->



  <!-- The most important information about the product -->
      <p class="information">" People do not need a lot of equipment for cardiovascular exercise.
         Instead, they can take part in cardio training at home by working their own body weight. "


        </p>

  <!-- 		Control -->
  <div class="control">

  <!-- Start Button buying -->
    <button class="btn">
  <!-- 		the Price -->
     <span class="price">Know</span>
  <!-- 		shopping cart icon-->
     <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
  <!-- 		Buy Now / ADD to Cart-->
     <span class="buy">More</span>
   </button>
    <!-- End Button buying -->

  </div>

  </div>

  <!-- 	End	Product details   -->



  <!-- 	Start product image & Information -->

  <div class="product-image">

    <!-- <img src="https://sc01.alicdn.com/kf/HTB1Cic9HFXXXXbZXpXXq6xXFXXX3/200006212/HTB1Cic9HFXXXXbZXpXXq6xXFXXX3.jpg" alt="Omar Dsoky"> -->

    <img src="https://cdn.shopify.com/s/files/1/1876/4703/articles/shutterstock_1081353626_1000x.jpg?v=1622204249" alt="Omar Dsoky">

  <!-- 	product Information-->
  <div class="info">
    <h2>The Description</h2>
    <ul>
      <li><strong>Squat jumps:
      </strong>Full Strength</li>
      <li><strong>Running : </strong>Not more than 15 min</li>
      <li><strong>Burpees: </strong>9 - 11</li>
      <li><strong>Crunches: </strong>4 sets</li>
      <li><strong>Tire: </strong>For Heavy Lifters</li>
      <li><strong>Jumba: </strong>Tolerates heat</li>
    </ul>
  </div>
  </div>
  <!--  End product image  -->


  </div>


